<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- this lets me ensure characters look same across all platforms and lets me use emojis more easily -->
        <meta charset="utf-8">

        <!-- adjusts site layout to all devices -->
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- bootstrap for CSS - before my stylesheet so mine can override Bootstrap -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <!-- using the Poppins font from Google Fonts to achieve minimalistic but not robotic vibe -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

        <!-- connect to stylesheet -->
        <link href="/static/styles.css" rel="stylesheet">
        <!-- have tab say which route we're on -->
        <title>bloom hub: {% block title %}home{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <!-- show name of website top left -->
                <a class="navbar-brand text-lowercase fw-semibold" href="/">bloom hub</a>
    
                <!-- bootstrap hamburger button to have navbar work with small displays -->
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- collapsible nav content -->
                <div class="collapse navbar-collapse" id="navbar">
                    <!-- if logged in, shows the tabs for mood activities and sleep with logout to the right-->
                    {% if session.get("user_id") %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link text-lowercase" href="/mood">mood</a></li>
                            <li class="nav-item"><a class="nav-link text-lowercase" href="/activities">activities</a></li>
                            <li class="nav-item"><a class="nav-link text-lowercase" href="/sleep">sleep</a></li>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">log out</a></li>
                        </ul>
                    <!-- if not logged in, just shows register or login -->
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">log in</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- lets me notify user when they successfully log something -->
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <!-- different from finance- this allows me to have stuff not all be center aligned -->
        <!-- and allows me to create my own custom design for spacing aesthetics to improve UX -->
        <main class="page">
            {% block main %}{% endblock %}
        </main>

        <!-- bootstrap javascript to make layout actually work with bootstrapped html -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        ></script>
    </body>
</html>